.advertisement {
  z-index: 1;
  display: flex;
  margin-top: 60px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.advertisement__container {
  position: relative;
}

.advertisement__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advertisement__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

.advertisement__slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.advertisement__description {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.advertisement__choice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 22px 0 60px 0;
}

.advertisement__pricing {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-self: center;
  margin-right: 20px;
}

.advertisement__oldpricing {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin: 0;
  margin-right: 6px;
  text-decoration-line: line-through;
  color: #7859CF;
}

.advertisement__newpricing {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  margin: 0;
}

.advertisement__order {
  width: 113px;
  height: 36px;
  background-color: #7859CF;
  text-decoration: none;
  border-radius: 4px;

  display: flex;
  text-align: center;
  align-self: center;
  justify-content: center;

  &:hover {
    background-color: #9070EC;
  }

  &:focus {
    background-color: #9070EC;
  }

  &:active {
    background-color: #593CAC;
  }

  &:disabled {
    background-color: #BDBDBD;
  }
}

.advertisement__link {
  text-decoration: none;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding-top: 8px;
  padding-bottom: 8px;
}

.advertisement__text {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #7859CF;
  margin: 0;
}

.advertisement__title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #333333;
  margin: 0;
  text-transform: capitalize;
}

.advertisement__slogan {
  margin-top: 4px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}

@media (max-width: $mobile-width-only) {
  .advertisement__image {
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 0;
  }

  .advertisement__wrapper--white {
    background-color: #F3EBE1;
  }

  .advertisement__wrapper--lavender {
    background-color: #EAE6FC;
  }

  .advertisement__wrapper--espresso {
    background-color: #E5E6E8;
  }
}

@media (min-width: $tablet-width) {
  .advertisement__wrapper--white {
    min-height: 828px;
    background: linear-gradient(#F3EBE1 640px,
    #ffffff 188px);
  }

  .advertisement__wrapper--lavender {
    min-height: 828px;
    background: linear-gradient(#EAE6FC 640px,
    #ffffff 188px);
  }

  .advertisement__wrapper--espresso {
    min-height: 828px;
    background: linear-gradient(#E5E6E8 640px,
    #ffffff 188px);
  }

  .advertisement__image {
    display: flex;
    order: 2;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .advertisement__product {
    width: 476px;
    height: 476px;
  }

  .advertisement__item {
    order: 1;
    margin-top: 60px;
  }

  .advertisement__title {
    font-size: 56px;
    line-height: 80px;
    margin: 0;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 700;
  }

  .advertisement__slogan {
    margin-bottom: 16px;
    font-size: 56px;
    line-height: 80px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 700;
  }

  .advertisement__description {
    padding-left: 110px;
    padding-right: 110px;
    font-size: 20px;
    line-height: 32px;

    & br {
      display: none;
    }
  }

  .advertisement__choice {
    margin-bottom: 20px;
  }
}


@media (min-width: $desktop-width) {
  .advertisement__wrapper {
    display: grid;
    grid-template-columns: 600px 625px;
    column-gap: 30px;
    min-height: 714px;
  }

  .advertisement__wrapper--white {
    background: linear-gradient(#F3EBE1, #F3EBE1);
  }

  .advertisement__wrapper--lavender {
    background: linear-gradient(#EAE6FC, #EAE6FC);
  }

  .advertisement__wrapper--espresso {
    background: linear-gradient(#E5E6E8, #E5E6E8);
  }

  .advertisement__image {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    margin-top: -50px;
    margin-bottom: 0;
    margin-right: -20px;
  }

  .advertisement__product {
    width: 600px;
    height: 600px;
    padding: 0;
    margin: 0;
    display: block;
  }

  .advertisement__item {
    order: 2;
    align-items: flex-start;
    text-align: left;
    margin-top: -45px;
    margin-left: 10px;
  }

  .advertisement__description {
    padding: 0;
    padding-right: 50px;
  }

  .advertisement__choice {
    margin-top: 40px;
  }
}
