.button-violet {
  background-color: #7859cf;
  color: #ffffff;
  border-radius: 4px;
  margin: 0;
  margin-bottom: 20px;
  border: none;

  &:hover {
    background-color: #9070ec;
  }

  &:focus {
    background-color: #9070ec;
  }

  &:active {
    background-color: #593cac;
  }

  &:disabled {
    background-color: #bdbdbd;
  }
}

.button--white {
  background-color: #ffffff;
  color: #7859cf;
  border-radius: 4px;
  border: none;

  &:hover {
    background-color: #9070ec;
    color: #7859cf;
  }

  &:focus {
    background-color: #9070ec;
    color: #ffffff;
  }

  &:active {
    background-color: #593cac;
    color: #ffffff;
  }

  &:disabled {
    background-color: #bdbdbd;
    color: #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .button-violet {
    margin: 0;
    margin-bottom: 0;
    margin-right: 20px;
  }
}
