.catalog {
  background-color: #f8f8f8;
}

.catalog__container {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  padding-top: 0;
}

.catalog__slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 52px;
}

.catalog__name {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #7859CF;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
}

.catalog__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
  padding: 0;
}

.catalog__wrapper {
  margin: 20px 0 36px 5px;
}

.catalog__select {
  display: flex;
  justify-content: space-between;
}

.catalog__options {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
}

.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  align-items: start;
  display: grid;
  grid-template-rows: repeat(6, 420px);
  row-gap: 20px;
}

.catalog__pagination {
  margin-top: 43px;
  margin-bottom: 44px;
  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .catalog__slogan {
    margin-top: 80px;
  }

  .catalog__wrapper {
    margin: 20px 0 40px 0;
  }

  .catalog__title {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 64px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 349px 349px;
    grid-template-rows: min-content min-content;
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 35px;
  }

  .catalog__pagination {
    justify-content: flex-end;
    margin-top: 70px;
    margin-bottom: 90px;
  }

  .catalog__container {
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: grid;
    grid-template-columns: 317px 317px 317px;
    column-gap: 30px;
    align-items: start;
    margin-top: 35px;
  }

  .catalog__container {
    display: grid;
    grid-template-columns: 318px min-content min-content;
    column-gap: 30px;
    grid-template-rows: 244px 714px min-content;
    row-gap: 0;
    // padding-top: 100px;
  }

  .catalog__slogan {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: 0;
    margin-top: 40px;
  }

  .catalog__select {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: 0;
    margin-top: -50px;
    align-items: flex-end;
  }

  .catalog__wrapper {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    margin: 0;
    // margin-right: 30px;
    margin-top: -18px;
  }

  .catalog__options {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    margin: 0;
    padding: 0;
  }

  .catalog__pagination {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
    margin-bottom: 120px;
  }
}
