.catalog-card {
  background-color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333333;
}

.catalog-card__item {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  margin-left: 20px;
  margin-right: 20px;
}

.catalog-card__title {
  text-decoration: none;
  color: #333333;
}

.catalog-card__link {
  margin-top: 40px;
  margin-bottom: 24px;
}

.catalog-card__name {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  margin: 0;
}

.catalog-card__description {
  margin: 0;
  margin-top: 4px;
}

.catalog-card__choice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.catalog-card__price {
  text-align: center;
  align-self: center;
  margin-right: 50px;
}

.catalog-card__button {
  width: 141px;
  height: 36px;
  background-color: #7859CF;
  text-decoration: none;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  text-align: center;
  align-self: center;
  justify-content: center;
}

.catalog-card__icon {
  margin-right: 6px;
}

.catalog-card__basket {
  color: #ffffff;
  text-align: center;
  align-self: center;
}

@media (min-width: $tablet-width) {
  .catalog-card {
    margin: 0;
    margin-bottom: 30px;
  }

  .catalog-card__link {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .catalog-card__item {
    margin-left: 30px;
    margin-left: 30px;
    align-items: normal;
  }

  .catalog-card__name {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }

  .catalog-card__description {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .catalog-card__choice {
    justify-content: space-between;
  }
}
