.copyright__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #BDBDBD;
  align-items: center;
  display: flex;

  &:hover {
    color: #7859CF;
  }

  &:focus {
    color: #7859CF;
  }

  &:active {
    color: #593CAC;
  }

}

.copyright__text {
  margin-right: 4px;
  text-align: center;
}

.copyright__academy {
  align-self: center;
}
