.copyright__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #BDBDBD;
  align-items: center;
  display: flex;
}

.copyright__text {
  margin-right: 4px;
  text-align: center;
}

.copyright__academy {
  align-self: center;
}
