.features {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  margin: 50px 0 60px 0;
}

.features__motto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 4px;
  margin-top: 0;
}

.features__name {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #7859CF;
  margin: 0;
}

.features__title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
}

.features__slogan {
  text-align: center;
  margin: 0;
  margin-bottom: 4px;
  position: relative;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.features__item {
  text-decoration: none;
  margin-top: 98px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.features__description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
}

.features__item--speed .features__slogan::before {
  position: absolute;
  top: -66px;
  left: 50%;
  margin-left: -25px;
  content: url("../../img/images-svg/icon-speed.svg");
}

.features__item--comfort .features__slogan::before {
  position: absolute;
  top: -66px;
  left: 50%;
  margin-left: -25px;
  content: url("../../img/images-svg/icon-comfort.svg");
}

.features__item--energy .features__slogan::before {
  position: absolute;
  top: -66px;
  left: 50%;
  margin-left: -25px;
  content: url("../../img/images-svg/icon-energy.svg");
}

.features__item--eco .features__slogan::before {
  position: absolute;
  top: -66px;
  left: 50%;
  margin-left: -25px;
  content: url("../../img/images-svg/icon-eco.svg");
}

@media (max-width: $mobile-width-only) {
  .features__title {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0;

    & br {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    grid-template-rows: 1fr 1fr;
    row-gap: 50px;
  }

  .features__motto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 0;
  }

  .features__slogan {
    text-align: left;
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
  }

  .features__title {
    font-size: 42px;
    line-height: 64px;
    font-weight: 700;
  }

  .features__item {
    text-decoration: none;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    position: relative;
    margin-left: 72px;
  }

  .features__item--speed .features__slogan::before {
    top: 5px;
    left: -60px;
    margin-left: 0;
  }

  .features__item--comfort .features__slogan::before {
    top: 5px;
    left: -60px;
    margin-left: 0;
  }

  .features__item--energy .features__slogan::before {
    top: 5px;
    left: -60px;
    margin-left: 0;
  }

  .features__item--eco .features__slogan::before {
    top: 5px;
    left: -60px;
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .features {
    width: 100%;
    margin-bottom: 120px;
  }

  .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    grid-template-rows: none;
    row-gap: 0;
  }

  .features__motto {
    margin-bottom: 156px;
    margin-top: 0;
  }

  .features__description {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  .features__item {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-left: 0;
  }

  .features__item--speed .features__slogan::before {
    top: -66px;
    left: 50%;
    margin-left: -25px;
  }

  .features__item--comfort .features__slogan::before {
    top: -66px;
    left: 50%;
    margin-left: -25px;
  }

  .features__item--energy .features__slogan::before {
    top: -66px;
    left: 50%;
    margin-left: -25px;
  }

  .features__item--eco .features__slogan::before {
    top: -66px;
    left: 50%;
    margin-left: -25px;
  }

  .features__slogan {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
  }

  .features__title {
    & br {
      display: none;
    }
  }
}
