.footer {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.footer__intro {
  display: grid;
  grid-template-rows: 80px 212px 176px 156px 66px;
  margin: 0;
  padding: 0;
}

.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
}

.footer__logo {
  display: flex;
  align-self: center;
}

.footer__shop {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.footer__media {
  display: flex;
  flex-direction: column;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: $mobile-width-only) {
  .footer__social {
    border-bottom: 1px solid #F0EBFF;
    padding: 20px 22px;
  }

  .footer__text {
    display: none;
  }

  .footer__shop {
    border-bottom: 1px solid #F0EBFF;
    padding: 20px;
  }

  .footer__media {
    border-bottom: 1px solid #F0EBFF;
    padding: 20px;
  }

  .footer__contacts {
    border-bottom: 1px solid #F0EBFF;
    padding: 20px;
  }
}

@media (min-width: $tablet-width) {
  .footer__intro {
    display: grid;
    grid-template-rows: 110px 172px 75px;
    row-gap: 0;
    grid-template-columns: 223px 222px 223px;
    column-gap: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .footer__text {
    display: none;
  }

  .footer__social {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 10px;
  }

  .footer__shop {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-top: 0;
    padding-bottom: 0;
  }

  .footer__media {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .footer__contacts {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .footer__copyright {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .footer__intro {
    display: grid;
    grid-template-rows: 1fr 172px 76px;
    row-gap: 0;
    grid-template-columns: 318px 317px 318px 317px;
    column-gap: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
  }

  .footer__social {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    flex-direction: column;
    justify-content: flex-start;
  }

  .footer__logo {
    align-self: flex-start;
    text-align: center;
  }

  .footer__text {
    display: block;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .footer__shop {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: 9px;
  }

  .footer__media {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: 9px;
  }

  .footer__contacts {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: 9px;
  }

  .footer__copyright {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-content: center;
  }
}
