.form {
  display: flex;
  flex-direction: column;
}

.form__group {
  padding: 0;
  border: none;
  position: relative;
  list-style-type: none;
}

.form__group-title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.form__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-direction: column;
}

.form__wrapper--milk {
  margin-top: 30px;
}

.form__wrapper--origin {
  margin-top: 34px;
}

.form__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.form__radiobutton {
  margin-top: 20px;
  display: flex;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  .form__label-radiobutton {
    display: block;
    padding-left: 35px;
    cursor: pointer;
    margin-right: 10px;
    align-self: center;
  }

  .form__input-radiobutton {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .form__input-radiobutton:checked ~ .form__checkmark {
    &::after {
      display: block;
    }
  }

  .form__label-radiobutton:hover .form__checkmark {
    border-color: #9070EC;
  }

  .form__label-radiobutton:hover .form__checkmark::after {
    background-color: rgba(120, 89, 207, 0.25);
  }

  .form__input-radiobutton:focus ~ .form__checkmark {
    border-color: #9070EC;
  }

  .form__input-radiobutton:focus ~ .form__checkmark::after {
    background-color: rgba(120, 89, 207, 0.25);
  }

  .form__input-radiobutton:disabled ~ .form__checkmark {
    border-color: #E2E2E2;
  }

  .form__input-radiobutton:disabled ~ .form__text {
    color: #BDBDBD;
  }

  .form__input-radiobutton:disabled ~ .form__checkmark::after {
    background-color: #E2E2E2;
  }

  .form__checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 24px;
    width: 24px;
    border: 2px solid #7859CF;
    border-radius: 50%;
  }

  .form__checkmark::after {
    content: "";
    position: absolute;
    display: none;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #7859CF;
  }
}

.form__checkbox {
  margin-top: 20px;
  display: flex;
  align-items: center;
  min-height: 24px;
  position: relative;

  .form__label-checkbox {
    display: block;
    padding-left: 50px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
  }

  .form__input-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .form__checkmark {
    position: absolute;
    left: 0;
    top: 2px;
    height: 24px;
    width: 42px;
    border-radius: 12px;
    background-color: #BDBDBD;
    border: 2px solid #BDBDBD;
  }

  .form__checkmark::after {
    content: "";
    position: absolute;
    top: 0;
    left: 1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFFFFF;
  }

  .form__checkbox .form__checkmark {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: -5px;
    border: 1px solid #cdcdcd;
  }

  .form__label-checkbox:hover .form__checkmark {
    border-color: #9070EC;
    background-color: rgba(120, 89, 207, 0.25);
  }

  // .form__label-checkbox:hover .form__checkmark::after {
  //   background-color: #FFFFFF;
  // }

  .form__input-checkbox:focus ~ .form__checkmark {
    border-color: #9070EC;
  }

  .form__input-checkbox:focus ~ .form__checkmark::after {
    background-color: rgba(120, 89, 207, 0.25);
  }

  .form__input-checkbox:disabled ~ .form__checkmark {
    background-color: #E2E2E2;
    border-color: #E2E2E2;
  }

  .form__input-checkbox:disabled ~ .form__text {
    color: #BDBDBD;
  }

  .form__input-checkbox:disabled ~ .form__checkmark::after {
    background-color: #F8F8F8;
  }

  .form__input-checkbox:checked:disabled ~ .form__checkmark {
    background-color: #E2E2E2;
    border-color: #E2E2E2;
  }

  .form__input-checkbox:checked:disabled ~ .form__checkmark::after {
    background-color: #BDBDBD;
  }


  .form__input-checkbox:checked ~ .form__checkmark::after {
    display: block;
    right: 2px;
    left: auto;
  }

  .form__input-checkbox:checked ~ .form__checkmark {
    background-color: #7859CF;
    border-color: #7859CF;
  }
}

.form__buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.form__button {
  min-height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 280px;
}

@media (max-width: $mobile-width-only) {
  .form__price {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: $tablet-width) {
  .form__choice {
    display: grid;
    grid-template-columns: 223px 222px 223px;
    column-gap: 30px;
  }

  .form__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .form__button {
    min-height: 24px;
    padding: 8px 20px;
  }

  .form__wrapper--milk {
    margin-top: 0;
  }

  .form__wrapper--origin {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .form__choice {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 130px 200px 244px;
    row-gap: 30px;
  }

  .form__buttons {
    justify-content: space-between;
  }

  .form__button {
    padding: 8px 26px;
  }

  .form__price {
    justify-content: flex-start;
  }
}
