.header {
  background-color: #ffffff;
  color: #333333;
  z-index: 2;
  display: flex;
}

.header__part {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.header__logo {
  border: none;
  z-index: 4;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__text {
  color: #444444;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}


@media (max-width: $mobile-width-only) {
  .header__part {
    // min-height: 60px;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #ffffff;
  }

  .header__logo {
    position: absolute;
    top: 12px;
    left: 20px;
  }

  .header__item {
    display: none;
  }

  .header__toggle {
    position: absolute;
    background: url("../../img/images-svg/icon-menu.svg") center no-repeat;
    background-color: transparent;
    top: 22px;
    right: 20px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    justify-self: end;
    border: none;
    z-index: 4;
  }

  .header__toggle--nojs {
    display: none;
  }

  .header__toggle--nojs ~ .header__toggle {
    display: none;
  }

  .header__toggle.active {
    background: url("../../img/images-svg/menu-close.svg") center no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .header__part {
    height: 89px;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid #f1f1f1;
  }

  .header__toggle {
    display: none;
  }

  .header__logo {
    position: absolute;
    top: 22px;
    left: 48px;
  }

  .header__logotip {
    height: 36px;
    width: 82px;
  }

  .header__item {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .header__part {
    position: relative;
  }

  .header__logo {
    position: absolute;
    top: 22px;
    left: 40px;

  }

  .header__logotip {
    height: 36px;
    width: 170px;
  }

  .header__item {
    display: flex;
    margin-top: 24px;
    margin-left: 230px;
  }

  .header__text {
    margin: 0;
  }
}

