.map {
  background-color: #dcdcdc;
}

.map__leaflet {
  height: 420px;
}

.map__wrapper {
  padding-top: 12px;
  position: relative;
}

.map__image {
  position: absolute;
  top: 12px;
  left: auto;
  right: auto;
}

@media (min-width: $tablet-width) {
  .map__leaflet {
    height: 480px;
  }

  .map__wrapper {
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .map__leaflet {
    height: 540px;
  }
}
