.nav {
  display: flex;
  z-index: 3;
  background-color: #ffffff;
}

.nav__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: $mobile-width-only) {
  .nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    min-height: 289px;
  }

  .nav__list {
    order: 2;
  }

  .nav__add {
    order: 1;
    padding-left: 120px;
    margin: 0;
  }

  .nav__list--nojs {
    display: block;
    position: static;
  }

  .nav__list--opened {
    min-height: 289px;
  }

  .nav__list--closed {
    display: none;
  }

  .nav__list--closed .header__toggle--nojs {
    display: none;
  }

  .nav__list--closed .site-list {
    display: none;
  }

  .nav__list--opened .site-list {
    position: absolute;
    top: 0;
    right: 0;
    left: 10px;
    z-index: 10;
    min-height: 80vh;
  }

  .nav--opened .site-list::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px fade(#000000, 40%);
  }

  .nav__list--nojs .site-list {
    position: static;
    min-height: 0;
  }

  .nav__list--nojs .site-list__item {
    display: flex;
  }

  .nav__list--nojs .site-list__item--active a {
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .nav__add {
    display: flex;
    margin-left: 50px;
  }

  .nav {
    margin-left: 139px;
  }

  .nav__list {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .nav__add {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0;
    padding: 0;
    margin-left: 162px;
  }
}
