.nav {
  display: flex;
  z-index: 3;
  background-color: #ffffff;
}

.nav__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: $mobile-width-only) {
  .nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }

  .nav__list {
    order: 2;
  }

  .nav__add {
    order: 1;
    padding-left: 124px;
    margin: 0;
  }

  .nav__list--nojs {
    display: block;
    position: static;
  }

  .nav__list--opened {
    min-height: 289px;
  }

  .nav__list--closed {
    display: none;
  }

  .nav__list--closed.site-list {
    display: none;
  }

  .nav__list--nojs.site-list {
    position: static;
    min-height: 0;
  }

  .nav__list--nojs .site-list__item {
    display: flex;
  }

  .nav__list--nojs .site-list__item--active a {
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .nav__add {
    display: flex;
    margin-left: 70px;
    margin-right: 0;
  }

  .nav {
    margin-left: 145px;
  }

  .nav__list {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
  }

  .nav__add {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0;
    padding: 0;
    margin-left: 162px;
  }
}
