.range__scale {
  position: relative;
  height: 2px;
  margin-top: 30px;
  margin-bottom: 34px;
  background-color: #E2E2E2;
  width: 280px;
}

.range__bar {
  position: absolute;
  height: 4px;
  background-color: #9070EC;
  left: 0;
  width: 240px;

  &:hover {
    background-color: #9070EC;
  }

  &:focus {
    background-color: #9070EC;
  }

  &:active {
    background-color: #593CAC;
  }

  &:disabled {
    background-color: #BDBDBD;
  }
}


.range__toggle {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-color: #9070EC;
  cursor: pointer;
  background-color: #ffffff;
}

.range__toggle--min {
  top: -8px;
}

.range__toggle--max {
  top: -8px;
  left: 240px;

  &:hover {
    background-color: #F0EBFF;
  }

  &:focus {
    background-color: #F0EBFF;
  }

  &:active {
    background-color: #7859CF;
  }

  &:disabled {
    background-color: #F8F8F8;
  }
}

.range__wrapper {
  width: 280px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media (min-width: $tablet-width) {
  .range__wrapper {
    width: 223px;
  }

  .range__bar {
    width: 192px;
  }

  .range__toggle--max {
    top: -8px;
    left: 180px;
  }

  .range__scale {
    width: 223px;
    margin-top: 30px;
  }
}

@media (min-width: $desktop-width) {
  .range__wrapper {
    width: 318px;
  }

  .range__bar {
    width: 274px;
  }

  .range__toggle--max {
    top: -8px;
    left: 273px;
  }

  .range__scale {
    width: 318px;
    margin-top: 28px;
  }
}
