.select-control {
  display: flex;
  min-width: 165px;
  height: 24px;
  color: #7859CF;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  outline: 2px solid #E5E5E5;
  padding-left: 25px;
  padding-top: 14px;
  padding-bottom: 14px;
  border: none;
  border-radius: 4px;
  position: relative;
  background-color: #f8f8f8;
  appearance: none;
}

.select-control::after {
  content: "";
  position: absolute;
  display: none;
  top: 10px;
  left: 0;
  width: 33%;
  height: 57%;
  border: solid #000000;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  z-index: 2;
}

.select-control:hover {
  outline: 2px solid #68A2CA;
}

.select-control:focus {
  outline: 2px solid #68A2CA;
}

.select-control:active {
  outline: 2px solid #3F5E72;
}

.select-control:disabled {
  outline: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}
