.select__native,
.select__custom {
  position: relative;
  width: 165px;
  height: 32px;
}

.select__custom {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.select__custom {
  display: block;
}

.select__native:focus + .select__custom {
  display: none;
}

.select__native:hover + .select__custom {
  display: none;
}

.select__native:focus,
.select__custom.isActive .select__custom-trigger {
  outline: none;
}

.select {
  position: relative;
  margin-bottom: 16px;
}

.select__label {
  display: block;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-right: 8px;
  text-align: center;
  align-self: center;
}

.select__wrapper {
  position: relative;
  align-self: center;
}

.select__native,
.select__custom-trigger {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background-color: transparent;
  color: #333333;
  border: 1px solid transparent;
  border-radius: 4px;
}

.select__native {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../../img/images-svg/icon-select.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  padding: 2px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.select__custom-trigger {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  padding: 4px;
  cursor: pointer;
  color: #7859CF;
}

.select__custom-js .select__custom-trigger::after {
  content: url("../../img/images-svg/icon-select-down.svg");
  position: absolute;
  top: 2px;
  right: 4px;
  width: 10px;
  height: 10px;
}

.select__custom-trigger:hover {
  border-color: #F0EBFF;
  background-color: #F0EBFF;
}

.select__custom-trigger:focus {
  border-color: #F0EBFF;
  background-color: #F0EBFF;
}

.select__custom-options {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 4px;
  background-color: #fff;
  z-index: 1;
  padding: 0;
  display: none;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.select__custom.isActive .select__custom-options {
  display: block;
}

.select__custom-option {
  position: relative;
  padding: 4px 4px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #7859CF;
  background-color: transparent;

  &:checked {
    color: #FFFFFF;
    background-color: #7859CF;
  }
}

.select__custom-option.isHover,
.select__custom-option:hover {
  background-color: #F0EBFF;
  color: #7859CF;
  cursor: default;
}

.select__custom-option:checked {
  background-color: #F0EBFF;
  color: #7859CF;
  cursor: default;
}

.select__custom-option:not(:last-of-type)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #d3d3d3;
}

.select {
  display: flex;
  flex-direction: row;
}

.select__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-right: 8px;
}

@media (min-width: $tablet-width) {
  .select {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 26px;
  }

  .select__label {
    margin-right: 10px;
  }
}
