.shop__title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #7859CF;
  margin: 0;
  margin-bottom: 8px;
}

.shop__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.shop__item {
  margin: 0;
  margin-top: 12px;
}

.shop__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
  text-transform: uppercase;
}
