.site-list__item {
  list-style-type: none;

  &:hover {
    background-color: #FFFFFF;
  }

  &:focus {
    background-color: #FFFFFF;
  }

  &:active {
    background-color: #F0EBFF;
  }
}

.site-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.site-list__link {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  list-style-type: none;
  color: #333333;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: #9070EC;
  }

  &:focus {
    color: #9070EC;
  }

  &:active {
    color: #7859CF;
  }
}

.site-list__item--active {
  color: #7859CF;
}

@media (max-width: $mobile-width-only) {
  .site-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 0;
    margin: 0 auto;
  }

  .site-list__item {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 21px;
    border-bottom: 1px solid #F0EBFF;
  }

  .site-list__item--index {
    border-top: 1px solid #F0EBFF;
  }

  .site-list__link {
    background-color: #ffffff;
    text-decoration: none;
    justify-content: center;
  }

  .site-list__text {
    position: relative;
  }

  .site-list__icon {
    position: absolute;
    left: 30px;
    bottom: 30px;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    align-content: center;
  }

  .site-list__item {
    padding: 26px 20px 30px 20px;
    border-bottom: 2px solid transparent;
  }

  .site-list__item--active {
    border-bottom: 2px solid #7859CF;
  }

  .site-list__link--basket {
    position: relative;
    display: flex;
  }

  .site-list__text {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-content: center;
  }

  .site-list__item {
    padding: 30px 20px 30px 20px;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  .site-list__link {
  }
}
