.social__list {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  column-gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__link:hover {
  background-color: #F0EBFF;

  svg path {
    fill: #7859CF;
  }
}

.social__link:focus {
  background-color: #F0EBFF;

  svg path {
    fill: #7859CF;
  }
}

.social__link:active {
  background-color: rgba(120, 89, 207, 0.25);
}
