.social__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 160px;
  justify-content: space-between;
}

.social__item {
  margin-right: 20px;
  width: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link:hover {
  background-color: #F0EBFF;

  svg path {
    fill: #7859CF;
  }
}

.social__link:focus {
  background-color: #F0EBFF;

  svg path {
    fill: #7859CF;
  }
}

.social__link:active {
  background-color: rgba(120, 89, 207, 0.25);
}
