.swiper-wrapper {
  position: relative;
}

.swiper-button-prev {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.swiper-button-next {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.swiper-button-prev::after {
  position: absolute;
  content: url("../../img/images-svg/icon-pagination-back.svg");
  z-index: 4;
  bottom: 520px;
  width: 20px;
  height: 20px;
  left: 20px;
}

.swiper-button-next::after {
  position: absolute;
  content: url("../../img/images-svg/icon-pagination-forward.svg");
  z-index: 4;
  bottom: 520px;
  width: 20px;
  height: 20px;
  right: 20px;
}

@media (max-width: $mobile-width-only) {
  .swiper-pagination-bullets {
    display: none;
  }

  .swiper-pagination-bullet {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .swiper-pagination-bullets {
    display: block;
  }

  .swiper-pagination-bullet {
    display: block;
    content: "";
    height: 4px;
    width: 62px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #FFFFFF;
  }

  .swiper-pagination-bullet-active {
    background-color: #7859CF;
  }
}
